<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cartinhas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="../index.html"><i class="bi bi-arrow-left"
                    style="font-size: 1.5rem;"></i></a>
        </div>
    </nav>

    <main class="p-5">
        <h1 class="text-center"><i class="bi bi-card-heading"></i> Cartas</h1>

        <!-- Filtros de Cartas -->
        <div class="d-flex justify-content-center mb-4">
            <input type="date" id="dataFiltro" class="form-control me-2" style="width: 200px;">
            <button class="btn btn-outline-primary me-2" onclick="filtrarCartasPorData()">Filtrar por Data</button>
            <button class="btn btn-outline-primary me-2" onclick="filtrarCartas('novos')">Novos</button>
            <button class="btn btn-outline-dark" onclick="filtrarCartas('todos')">Ver Todos</button>
        </div>

        <!-- Cartas -->
        <div class="row" id="cartas">
            <div class="col-sm-3 mb-3 mb-sm-0 pt-4 position-relative carta" data-data="2024-09-14T21:08"
                data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Carta</h5>
                        <p class="card-text">Meu amor, desde o momento em que te conheci, meu mundo mudou. Cada segundo
                            ao seu lado é um present...</p>
                        <a href="../page/cartinhas/1.html" class="btn btn-outline-primary">Ver Carta</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        14/Set/2024 - 21:08
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-14T23:00" data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Teias de Amor e Doçura</h5>
                        <p class="card-text">Hoje, enquanto pensava em você, imaginei uma cena fofa: Hello Kitty, com
                            todo seu charme, seguran...</p>
                        <a href="./../page/cartinhas/2.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        14/Set/2024 - 23:00
                    </div>
                </div>
            </div>

            <!-- Aqui está um novo -->
            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-15T02:22" data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">A Luz das Estrelas</h5>
                        <p class="card-text">Às vezes, nos momentos mais escuros, vemos as estrelas mais brilhantes...
                        </p>
                        <a href="../page/cartinhas/3.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        15/Set/2024 - 02:22
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-15T02:43" data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sonhos nas Estrelas</h5>
                        <p class="card-text">No vasto universo, as estrelas nos lembram de como somos pequenos, mas
                            também de como temos o p...</p>
                        <a href="../page/cartinhas/4.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        15/Set/2024 - 02:43
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-15T03:12" data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Brilho Infinito</h5>
                        <p class="card-text">As estrelas que cintilam acima de nós já testemunharam incontáveis eras...
                        </p>
                        <a href="../page/cartinhas/5.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        15/Set/2024 - 03:12
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-15T03:23" data-novo="false">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pensando em Você Sob as Estrelas</h5>
                        <p class="card-text">Enquanto a noite cai e o mundo se aquieta, eu me pego pensando em...</p>
                        <a href="../page/cartinhas/6.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        15/Set/2024 - 03:23
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-15T15:08" data-novo="false">
                <div class="card">
                    <!-- <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    </span> -->

                    <div class="card-body">
                        <h5 class="card-title">Amor em Linhas de Código</h5>
                        <p class="card-text">Desde o momento em que te conheci, percebi que nossa conexão era mais do
                            que
                            meras linhas de código s...</p>
                        <a href="../page/cartinhas/9.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        15/Set/2024 - 15:08
                    </div>
                </div>
            </div>

            <div class="col-sm-3 pt-4 position-relative carta" data-data="2024-09-16T23:48" data-novo="true">
                <div class="card">
                    <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    </span>

                    <div class="card-body">
                        <h5 class="card-title">Aventuras e Amor Além dos Blocos</h5>
                        <p class="card-text">Depois de uma noite imersos no mundo encantado de Minecraft e explorando a
                            infinidade de possibilide...</p>
                        <a href="../page/cartinhas/10.html" class="btn btn-outline-primary">Acessar</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        16/Set/2024 - 23:48
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        // Filtra as cartas baseado no tipo 'novos' ou 'todos'
        function filtrarCartas(tipo) {
            var cartas = document.querySelectorAll('.carta');
            cartas.forEach(function (carta) {
                if (tipo === 'todos') {
                    carta.style.display = 'block'; // Mostra todas as cartas
                } else if (tipo === 'novos') {
                    if (carta.getAttribute('data-novo') === 'true') {
                        carta.style.display = 'block'; // Exibe apenas cartas com 'data-novo' igual a 'true'
                    } else {
                        carta.style.display = 'none'; // Oculta as cartas que não são novas
                    }
                }
            });
        }

        // Filtra as cartas por data selecionada no input
        function filtrarCartasPorData() {
            var dataFiltro = document.getElementById('dataFiltro').value;
            var cartas = document.querySelectorAll('.carta');

            cartas.forEach(function (carta) {
                var dataCarta = carta.getAttribute('data-data').substring(0, 10);
                if (dataFiltro === '' || dataFiltro === dataCarta) {
                    carta.style.display = 'block'; // Mostra a carta se a data for igual à selecionada
                } else {
                    carta.style.display = 'none'; // Oculta se a data não corresponder
                }
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-srGr3qfBw0RmCrkQv7InH9SZyf3EOhfvpsTtHQwBdqcEOb5gCHnZY11KF+YnxjSE" crossorigin="anonymous">
        </script>
</body>

</html>